body{
	background: #ccb3b3;
	border: 17px grey solid;

	padding: 20px;
	margin-left: 220px;
	margin-right: 220px;
	margin-top: 30px;

}
h3{
	color: blue;

}
.first{
	border-left: 3px grey solid;
	padding-left: 10px;
	font-family: "Archivo";
}
.second{
	border-bottom: 2px grey solid ;
	padding-bottom: 20px;
	font-family: "Archivo";
}
.third{
	border-left: 3px grey solid;
	padding-left: 10px;
	font-family: "Archivo";
}
p{
	font-family: "Archivo";
}