<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        p {
            font-size: 20px;
            line-height: 1.5
        }
    </style>
</head>

<body>
    <div class="container">
        <b>
            <h1 class="page-header"> WILDLIFE SANCTUARY</h1>
        </b>
        <p>
            A wildlife sanctuary, is a naturally occurring sanctuary, such as an island, that provides protection for
            species from hunting, predation, competition or poaching; it is a protected area, a geographic territory
            within
            which wildlife is protected. Refuges can preserve animals that are endangered.
        </p>

        <h1 class="page-header"> HISTORY </h1>
        <p>
            In the 3rd century BC, King Devanampiya Tissa declared the area around Mihintale, Sri Lanka as a sanctuary
            for
            wildlife,[2] probably the first of its kind in the ancient world. According to stone inscriptions found in
            the
            vicinity, the king commanded the people not to harm animals or destroy trees within the area.
        </p>
        <p>
            The first American wildlife refuge, Lake Merritt Wildlife Refuge at Lake Merritt, was established by Samuel
            Merritt and enacted in California state law in 1870 as the first government owned refuge.[3] The first
            federally owned refuge in America is Pelican Island National Wildlife Refuge and was established by
            Theodore
            Roosevelt in 1903 as part of his Square Deal campaign to improve America. At the time, setting aside land
            for
            wildlife was not a constitutional right of the president. More recently, a bi-partisan group of US House of
            Representatives members established the Congressional Wildlife Refuge Caucus to further the needs of the
            National Wildlife Refuge System in the US Congress.
        </p>
        <p>
            Today there are several national and international organizations that have taken the responsibility of
            supervising numerous systems of non-profit sanctuaries and refuges in order to provide a general system for
            sanctuaries to follow. Among them, the American Sanctuary Association monitors and aids in various
            facilities
            to care for exotic wildlife. Their accredited facilities follow high standards and a rigid application
            processes to ensure that the animals under their care are avidly cared for and maintained.
        </p>
        <p>
            The Chernobyl Exclusion Zone has in practice become a wildlife refuge since very few people live in the
            area.
            Wildlife has flourished since the accident in 1986.
        </p>


        <h1 class="page-header"> What is a Wildlife Sanctuary? </h1>
        <p>
            A wildlife sanctuary is a place of refuge where abused, injured and abandoned captive wildlife may live in
            peace and dignity for the remainder of their lives.
        </p>
        <p>
            True wildlife sanctuaries do not breed or exploit for commercial activites (including, but not limited to:
            use
            of animals for entertainment or sport, sale or trade of animals, their offspring or animal parts and
            by-products.)
        </p>
        <p>
            A true sanctuary respects the integrity of individual animals, providing safe, healthy, and secure refuge
            in
            enclosures specifically designed for the unique animals whom they support.
        </p>
        <p>
            Experts estimate that there are about 1,200 exotic animal facilities which provide the barest minimum of
            care
            for thousands of animals with little or no knowledge of animals nutritional or behavioral needs. These
            facilities often breed animals to provide cute babies as an attraction for public display and for sale, and
            many depend on public sale of treats for the animals as the major source of food.
        </p>
        <p>
            These facilities often function as the end-of-the-line for surplus animals who can no longer earn dollars
            for
            mainstream zoos, circuses, traveling shows and exotic pets. They often call themselves sanctuaries while
            they
            continue to breed and exploit the animals in their care. Pseudo-sanctuaries are really a part of the animal
            industry but attempt to cover themselves with the positive sanctuary label, using their animals as
            fund-raising
            tools with appearances on television shows to plead for funds or displaying them for photo sessions at
            shopping
            malls and fund-raising events.
        </p>
        <p>
            At PAWS, rescued animals live in peaceful and natural habitats, free from fear, chains and harsh
            confinement.
            Individually designed enclosures encourage natural behavior and dedicated keeping staff monitor the animals
            24/7, 365 days a year..
        </p>
        <p>
            No true sanctuary should be involved in breeding or commercial exploitation of the animals in its care.
            PAWS
            animals are not bred, traded, sold, rented or forced to perform. With the exception of a limited number of
            planned educational and fundraising events held annually, PAWS facilities are not open to the public.
        </p>
    </div>

</body>

</html>