<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Admin Details</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
               <br><br> 
                <form action="/admin/animal/delete" method="POST">
                    <div class="form-group">
                        <select class="form-control" name="animal_id">
                            <% for(var i=0; i < animal.length; i++) { %>
                            <option value="<%= animal[i].animal_id%>">
                                <%= animal[i].name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">

                        <input type="submit" value="Delete Animal" class="btn btn-danger">
                    </div>
                </form>
                
                <form action="/admin/workerdetails" method="get" class="form-group">
                <input type="submit" value="Delete Workers" class="btn btn-danger">
                </form>
                <form action="/admin/insertWorkers" method="get">
                    <input type="submit" value="Insert Workers" class="btn btn-primary">
                    </form>
            </div>
        </div>
    </div>
</body>

</html>