<!DOCTYPE html>
<html>

<head>
    <title>blogs</title>
    <link rel="stylesheet" type="text/css" href="blog1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet" type="text/css">
    <style>
        p {
            font-size: 20px;
            line-height: 1.5
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>July 2, 2018</h3>
        <h1>A unique Tiger behavior encountered in Jim Corbett</h2>
            <h4>
                <p class="first">I have been studying and watching Tigers for over 29 years now. What i had not seen i
                    had
                    read, and what i had not read i had seen about the Tiger. But what unraveled on my last visit to
                    Jim
                    Corbett National Park, i had neither read, nor seen and never imagined. It was a misty morning in
                    Dhikala. The sky had taken the shades of orange, birds had stepped out of their comfort zones in
                    search
                    of food. How every sunrise is creatively different from the previous one is tough to fathom.</p>
                <p>The biggest question before one moves out of the Dhikala compound gates is whether you should go
                    towards
                    the grasslands or towards the Sambar Road. My mind was saying the grasslands. I shared the same
                    with
                    Irshad. We reached the crossroad where you take right for grasslands, and left for Sambar road. My
                    head
                    turned right towards the grasslands and the vehicle turned left towards the Sambar road. A bit
                    baffled
                    i asked Irshad why? He said, Sir just like that.</p>
                <p>
                    Well, having no choice, and instantly no regret i was with the wave taking me towards Sambar road.
                    Crossed the watch tower, stopped for a second to see if anything stood on the old Sambar road,
                    nothing,
                    so moved on. On the new Sambar road which is just next to the Ramganga river, Irshad slowed down a
                    bit
                    to see if there was anything unusual around the river. This is one spot in Corbett where you want
                    the
                    time to stop, other being the bridge on the Ramganga river taking you to Paar (across the river).
                </p>

                <p>We had barely gone ahead of this area when Irshad braked and whispered Tiger. The light was very
                    low,
                    mist in the background, we looked ahead and a Tiger just crossed the road into the bush. I just
                    about
                    saw his shadow. Even before i could get disappointed that i had missed the Tiger we saw two more
                    Tigers
                    on the road just behind him.
                </p>
                <p>Irshad stopped. Ignition off. The distance was good 25 meters. They were both sitting on the corner
                    of
                    the road. What were seeing was the Chua Pani Tigress with her cub, the one that had moved in was a
                    male
                    Tiger. She gets her name Chua Pani from a beautiful place few kms away known as Chua Pani. She has
                    a
                    litter of two cubs about 16 months old. The female cub was right besides her, and the other one
                    most
                    likely the male had moved in.
                </p>

                <p>There seemed to be something unusual with her behavior. She was looking into the lantana and
                    growling
                    intermittently. I put out my bean bag and took a couple of images. Her growling did not cease. She
                    would show us the canines once in a while to signify to stay put where we are, and then look
                    towards
                    the bush and growl again.
                </p>

                <p>Silence everywhere. Only two sounds were her growling and my occasional shutter click. The female
                    cub
                    was not leaving her side. Then she took a stance that a Tigress takes when she stalks and is about
                    to
                    charge. She went down on her four legs, her belly touching the ground, her ears rolled back, and
                    canines out, only worry was her eyes got focussed on us.
                </p>
                <p>We knew there is nothing stupid we need to do. I stopped clicking, and stood our ground. It was her
                    female cub that came to our rescue. The cub came close and nudged her on her face, as if saying, it
                    is
                    alright, let it be.</p>
                <p>She relaxed, and i exhaled a long breath out of my mouth. When it all seemed normal, she got up
                    growled
                    looking at the lantana and went into the bush. By this time 3 more Jeeps had come and they were
                    behind
                    us. we decided to go ahead, and asked the Jeeps behind to stay put. We had crossed the area where
                    she
                    was, and moved further ahead by good 30 meters and stopped. We looked back.</p>
                <p>The growling sounds kept coming from the lantana, we just could not figure out the reason for her
                    demeanor. One thing clear was that it was not us. So that relaxed us a lot more. In a few moments
                    she
                    again stepped out with her cub, crossed the road in front of us and into the grass that would go
                    towards the river.</p>
                <p>Having gone few meters away, the male Tiger stepped out of the bush. This was a male cub, and not
                    the
                    adult male whom we thought could be why she was behaving like that. But this intrigued me more, as
                    to
                    why was she so upset with her male cub.
                    The moment the male cub came out, she walked briskly towards him growling, and the poor little boy
                    meekly retired back into the bush. When satisfied that the male cub was back in the bush, she
                    alongwith
                    her female cub turned her attention towards us with a light growl which signified move on. We
                    listened
                    like obedient students started the vehicle and went further ahead by 10 meters. She went into the
                    bush.
                    Her going into the bush meant appearance of the male cub again. He walked out, not so confidently
                    and
                    went behind her into the bush. The growling in the bush commenced again.</p>
                <p>Now this was getting a bit complex for me to understand her frame of mind at this point. They moved
                    on
                    from the old Sambar road, and climbed up. The growling continued. Her anger was unrelenting. During
                    the
                    break after the safari, my mind was on a treadmill of thoughts, continuous.
                    The afternoon safari began, we went towards Paar. Most of the vehicles were hanging around the
                    Sambar
                    road area in anticipation of some action as there were growls every so often. While we were roaming
                    in
                    Paar my mind was also on Sambar Road, and then something happened which completely took my mind off
                    Sambar Road and we three just looked at each other as to what was this. This was another Tiger,
                    what
                    happened here will have to follow in a separate post.
                    We returned towards evening on the main road, and saw some vehicles standing there. On enquiring
                    they
                    said, thTigress had just crossed over, we waited. The male cub also crossed over into the bush. The
                    growling started again. Now this was not normal for me. It had been 10 hours since morning that the
                    Tigress had been growling on the male cub. What was wrong? What did the male cub deserve to get
                    this
                    treatment? My heart went out to him. Suddenly we saw her emerge from the bush, ran almost 40 meters
                    parallel to the bush and re-entered.</p>

                <p class="second">It all happened in a flash of a moment. As expected growling once again. But this
                    time
                    the growling seemed to be going further away from us. As if she was chasing him away. Asking him to
                    get
                    lost else she would do something real nasty. One thing became clear that this was not normal. She
                    was
                    gravely upset. But she would not kill him as if she had to kill him she would have done by now.
                    The safari time ended, we got back to Dhikala, and my mind got back on the treadmill once again.
                    Only
                    difference was that this time it wasnt a jog, but a sprint.
                    Next day morning safari, without any discussions or decisions we landed up in the same area. We
                    went to
                    Kamarpatta road, and saw the pug marks of male cub walking on one side, and the Tigress and the
                    female
                    cub on the other side. These were not fresh pug marks but seemed as if they had walked in the
                    night.
                    Good 5 kms we followed the trail, and finally arrived at a point where the male cub went ahead into
                    another territory and the mother with her cub came down towards their home territory..</p>
            </h4><br>
            <hr><br>
            <h3>March 12, 2018</h3>
            <h1>32 important points to know before going for a safari in an Indian National Park.</h1>
            <h4>
                <p>1. If travelling with friends and family be as silent as possible. Listen to the Jungle, it has a
                    language. Ask the guide for the sounds of animals and birds that you hear during the safari.</p>
                <p>2.Minimum movements in the vehicle, specially during the time you sight an animal. Such movements
                    can
                    distract the animal and they can move away.</p>
                <p>3. Wear environment colors like greens, beige, browns etc.</p>
                <p>4. Do research on weather, expected temperatures during safaris, as it is better to be prepared for
                    the
                    same. Lot of guests coming from cold countries under-estimate the winter temperatures in the
                    forest,
                    and are surprised. </p>
                <p>5. Avoid wearing strong perfumes as many animals have strong smell sense and it can distract them.</p>
                <p>6. Listen to what the guide and drivers have to say.</p>
                <p>7. Getting off from the vehicle is not permitted, the guides will tell you of the spots where it is
                    allowed.</p>
                <p>8. No fire arms to be carried inside the park.</p>
                <p>9. The animals in the park should NOT be fed at all by anything.</p>
                <p>10. Do not litter outside the vehicle.</p>
                <p>11. Flash photography is prohibited.</p>
                <p>12. If carrying a mobile phone keep it on silent or vibratory mode. Mostly carrying a mobile will be
                    quite futile as you will not have networks inside the park.</p>
                <p>13. Smoking or drinking liquor is prohibited inside the park.</p>
                <p>14. If any animal gets closer to the Jeep do not try and touch it by stretching your arms. And if
                    you
                    are not comfortable with any animals presence in the vicinity tell the guide or the driver about
                    it.
                    Usually animals do not get so close as to be in touching distance.</p>
                <p>15. Use the washrooms in the hotel, or near the park entry gate (not all the park entries have
                    washrooms). Avoid drinking lot of water before the safari to avoid visit to the washroom. There are
                    some make shift toilets in the forest.</p>
                <p>16. Carry a sanitizer always.</p>
                <p>17. Carry your own bottle of water, but only sip on water inside the park and avoid drinking lot of
                    water to prevent point no 15 above.</p>
                <p>18. The vehicle is not covered, so you are exposed to direct sun, hence carry or apply a sunscreen
                    lotion. A hat is a good option to have.</p>
                <p>19. As the parks you are travelling in Dry and deciduous so there is lot of dust when the vehicles
                    move
                    on these tracks. If you are sensitive to dust then carry a mask to cover your nostrils.</p>
                <p>20. Generally it does not rain in the months of safaris, but there are couple of odd showers light
                    or
                    heavy. Before going for a safari, do look at the sky if you see some clouds definitely carry some
                    bag
                    to protect your camera equipment.</p>
                <p>21. Carrying some cookies is a good idea if you are habituated of eating something every few hours.</p>
                <p>22. Have a light lunch before the afternoon safari as a full tummy, and the wind on your face can
                    make
                    you sleepy.</p>
                <p>23. When going for a morning safari one tends to have morning tea/coffee with some biscuits. In some
                    parks like Kanha and Bandhavgarh the breakfast is carried in the Jeep and served at some designated
                    spots. But in Corbett you tend to come back and have breakfast. In winters the morning safari
                    closure
                    time is around 1030hrs or later, so one tends to miss out on breakfast, hence carrying couple of
                    cookies helps. Choice is yours if you wish to sacrifice your breakfast for a safari, or safari for
                    a
                    breakfast. Let the guide and driver know and they will act accordingly.</p>
                <p>24. Always hold on to the iron bar in front or side of your seat to prevent any jerks while in the
                    Jeep.
                    The drivers are very experienced but at times they focus also on alarm calls, and seeing pug marks
                    so
                    missing a ditch is possible. Hence be alert.</p>
                <p>25. Ask as many questions as come to your mind. The guides and drivers have been doing their job for
                    years, so at times they might have a tendency to be quiet or their mind could be pre-occupied by
                    some
                    other thought. To maximise your learning ask lot of questions</p>
                <p>26. The communication skills of the drivers and guides is not very fluent, however they are able to
                    explain and make you understand any query on flora and fauna that you may have.</p>
                <p>27. The type of vehicle used in most of the national parks is a Maruti Gypsy. You may see my video
                    here
                    to get an idea of the same. This was shot by me in a national park using a hand held mobile phone.</p>
                <p>28. If you are carrying a big lens like a 400mm upwards or any prime lens for photography do inform
                    the
                    resort in advance and ask for a bean bag</p>
                <p>29. Please be cautious of your personal belongings. Do not leave them behind in the open vehicle
                    while
                    going to the toilet.</p>
                <p>30. Carry your passport with you, or the photo id that you gave while booking the safari permit. The
                    same in original needs to be shown at the park gate to enable entry.</p>
                <p>31. It helps to tip the guide and driver at the end of the safari. Tipping is not necessary, however
                    if
                    you are happy with their service you might like to give them. Before tipping ask them if they will
                    be
                    there with you for next safari also. It is ideal to tip at the end of the last safari. But in most
                    of
                    the national parks, the guides and drivers are on rotation basis, so tip them at end of each
                    safari.</p>
                <p class="second">2. If you have any feedback from any safari please share immediately on your return
                    to
                    the resort.</p>
            </h4>
            <br>
            <hr><br>
            <h3>January 31, 2018</h3>
            <h1>Death of a Tiger</h2>
                <h4>
                    <p class="third">When my journey in wilderness commenced in 1989, i had no clue what lay ahead of
                        me.
                        Initially the idea was to see the Tiger in the wild. Gradually i wanted to see various aspects
                        of
                        the Tiger behavior, like patrolling, spraying, claw marking, flehmen, mating, mother with cubs
                        etc.
                        But not once in my wildest of imaginations did the thought cross of Death of a Tiger.</p>
                    <P>It needs no mention that the law of nature is supreme, and only constant is change. But the
                        irony is
                        how we forget this aspect and start to love what we see in nature. And when love gets converted
                        to
                        attachment disappointment reveals its ugly head. So is the case with Death of a Tiger. </P>
                    <P> I have had the personal experience of getting attached to many Tigers that i was seeing
                        constantly.
                        And whenever we lost that Tiger it came as a big jolt. It is tough to forget such losses. </P>
                </h4>
                <h2>
                    <P>The first death of a Tiger</P>
                </h2>
                <h4>
                    <P>This happened when initially a legendary Tigress of Bandhavgarh disappeared and some days later
                        her
                        body parts were found. Sita was the Tigress in question, this incident shook me inside out. Two
                        reasons, one it was not a natural death, and secondly it was the first time i heard of the
                        Tigress
                        i loved seeing with her cubs in 1995-1997 had disappeared. How will i ever forget this Tigress
                        licking her cubs clean in the bushes near Shesh Shaiya, and i was watching her do this with
                        Kuttappan the Head Mahout of Bandhavgarh on his Elephant.</P>
                    <P>This was an ominous sign, since i have lost some more of my favorite Tigers in Bandhavgarh,
                        namely,
                        Charger, Mohini, Challenger, B1, B2, Bhamera, Kankatti, Jhurjhura female and last one is Junior
                        Kankatti.
                        Similarly in other parks too i lost some Tigers whom i was seeing often. </P>
                </h4>


                <h2>
                    <P>What are the causes for Death of a Tiger </P>
                </h2>
                <h4>
                    <P>1. Natural causes due to old age; It is rare that one finds a body of a dead Tiger who has died
                        of
                        natural cause due to old age</P>
                    <P>2. Accidentally poached; at times the local villagers in order to keep the herbivores like
                        spotted
                        deers, and wild boars from destroying their crop would put in an electric fence. Instead of the
                        prey at times a Tiger walks into such an area and gets electrocuted. This has been considerably
                        reduced after a brief spur in such incidents in a particular state of Maharashtra.</P>
                    <P>3. A territorial fight; between two grown up males which can give fatal injury to either, thus
                        leading to death of a Tiger. Some cases like this have been covered by me in one of my previous
                        blogs on Death of Bheema and Rajaram (Kingfisher ) Tiger in Kanha.</P>
                    <P>4. One Tiger killing cubs of another male Tiger; This happens often in parks like Kanha where
                        the
                        density of male Tigers is fairly high. The Tigers of Kanha are undoubtedly the largest Tigers
                        in
                        India. Though the size has nothing got to do with the killing, but there could be because big
                        size
                        suggests pure dominance, and they settle for nothing less but submission of the other Tigers,
                        or
                        mauling them to death.</P>
                    <P>5. Organized poaching; Considerably reduced now. But there is a myth amongst the locals to
                        perform
                        some rituals with some body parts of a Tiger which apparently brings prosperity to the person
                        doing
                        it. These cases are limited to a particular tribe, in a certain area, so this also is under
                        close
                        check if not completely eliminated.</P>
                    <P>6. Poisoning; Either a cattle strays into the park and is killed by the Tiger. Or, the Tiger
                        strays
                        into the buffer and kills a cattle. Some locals to get even, poison the cattle and when the
                        Tiger
                        returns to eat, he dies.</P>
                    <P>Whatever reason, the Death of a Tiger is never a happy ending. However one does take solace from
                        the
                        fact that with the advent of technology, and better Tiger monitoring the numbers have reduced.
                        Not
                        wholly, but substantially.</P>
                    <P> It is easy for anyone to point fingers at the forest department and list the lacunas in the
                        system.
                        But one cannot overlook the challenges these foresters face in their daily work. India is a
                        complex
                        country and no solution is easy here. But it is easy to fire suggestions, solutions on social
                        media. All it takes now is say anything in guise of Freedom of Speech. Having said this, there
                        is
                        tremendous scope of improvement in way we treat our Tigers.</P>
                    <P>But i will continue to respect the foresters doing their duties. As, had it not been for them
                        today,
                        these Tigers, and wonderful protected area would not be there to be seen by the world.
                        Emotions involved in case of a Tiger death also need a brief mention here. Losing a Tiger is
                        like
                        losing a family member for people who see them regularly. It is very tough to go on those roads
                        again where you once saw your favorite Tiger who is unfortunately now no more. I know of few
                        people
                        who have cried when their Tigers die. They all know that it is practically impossible for all
                        Tigers to lead a natural life and die in prime old age. If that happens the parks will burst at
                        their seams.</P>
                    <p>Such is the complex world of Tigers, that they get very few natural deaths in their lifetime.
                        Guess
                        it is the price one pays for being a Tiger.</p>
                    <p>Long live the Tigers, and all Tiger lovers.</p>
                </h4>
    </div>
</body>

</html>