<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body style="background-image:url('/images/photo.jpg');background-size:cover">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
                <li><a href="/homePage/animal">Animals</a></li>
                <li><a href="/homePage/food">Food</a></li>
                <li><a href="/homePage/worker">Worker</a></li>
                <li><a href="#">Field</a></li>
                <li><a href="/homePage/visitor">Visitor</a></li>
        </ul>
        <p class="navbar-text">Fields</p>
    </nav>

    <div class="container">
        <h3>Details of Fields</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Field ID</th>
                    <th scope="col">Manager Id</th>
                </tr>
            </thead><br>
            <% for(var i=0; i < field.length; i++) { %>
            <tr>
                <td>
                    <%= field[i].field_name %>
                </td>
                <td>
                    <%= field[i].field_id %>
                </td>
                <td>
                    <%= field[i].mgr_id %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>

</html>