<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
    <link rel="stylesheet" type="text/css" href="lightbox.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="lightbox-plus-jquery.min.js">
    </script>
</head>

<body>
    <h1> <b>IMAGE GALLERY DESIGN </b></h1>
    <div class="gallery">
        <a href="/images/image1.jpg" data-lightbox="mygallery"><img src="/images/image1_tn.jpg"></a>
        <a href="/images/image2.jpg" data-lightbox="mygallery"><img src="/images/image2_tn.jpg"></a>
        <a href="/images/image3.jpg" data-lightbox="mygallery"><img src="/images/image3_tn.jpg"></a>
        <a href="/images/image4.jpg" data-lightbox="mygallery"><img src="/images/image4_tn.jpg"></a>
        <a href="/images/image5.jpg" data-lightbox="mygallery"><img src="/images/image5_tn.jpg"></a>
        <a href="/images/image6.jpg" data-lightbox="mygallery"><img src="/images/image6_tn.jpg"></a>
        <a href="/images/image7.jpg" data-lightbox="mygallery"><img src="/images/image7_tn.jpg"></a>
        <a href="/images/image8.jpg" data-lightbox="mygallery"><img src="/images/image8_tn.jpg"></a>
        <a href="/images/image9.jpg" data-lightbox="mygallery"><img src="/images/image9_tn.jpg"></a>
        <a href="/images/image10.jpg" data-lightbox="mygallery"><img src="/images/image10_tn.jpg"></a>
        <a href="/images/image11.jpg" data-lightbox="mygallery"><img src="/images/image11_tn.jpg"></a>
        <a href="/images/image12.jpg" data-lightbox="mygallery"><img src="/images/image12_tn.jpg"></a>
        <a href="/images/image13.jpg" data-lightbox="mygallery"><img src="/images/image13_tn.jpg"></a>
        <a href="/images/image14.jpg" data-lightbox="mygallery"><img src="/images/image14_tn.jpg"></a>
        <a href="/images/image15.jpg" data-lightbox="mygallery"><img src="/images/image15_tn.jpg"></a>
        <a href="/images/image16.jpg" data-lightbox="mygallery"><img src="/images/image16_tn.jpg"></a>
        <a href="/images/image17.jpg" data-lightbox="mygallery"><img src="/images/image17_tn.jpg"></a>
        <a href="/images/image18.jpg" data-lightbox="mygallery"><img src="/images/image18_tn.jpg"></a>
        <a href="/images/image19.jpg" data-lightbox="mygallery"><img src="/images/image19_tn.jpg"></a>
        <a href="/images/image20.jpg" data-lightbox="mygallery"><img src="/images/image20_tn.jpg"></a>
        <a href="/images/image21.jpg" data-lightbox="mygallery"><img src="/images/image21_tn.jpg"></a>
        <a href="/images/image22.jpg" data-lightbox="mygallery"><img src="/images/image22_tn.jpg"></a>
        <a href="/images/image23.jpg" data-lightbox="mygallery"><img src="/images/image23_tn.jpg"></a>
        <a href="/images/image24.jpg" data-lightbox="mygallery"><img src="/images/image24_tn.jpg"></a>
        <a href="/images/image25.jpg" data-lightbox="mygallery"><img src="/images/image25_tn.jpg"></a>
    </div>

</body>

</html>