<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body style="background-image:url('/images/photo.jpg');background-size:cover">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Wildlife</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/aboutWildlife">About Wildlife</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="signup"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li id="login"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="color:white;margin-top: 29%">
                <h1 style="font-size:50px"><b>WILDLIFE SANCTUARY <br>
                        SAVE US FOR YOUR SURVIVAL</b></h1>
            </div>
        </div>
    </div>
</body>

</html>