<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/admin/workerdetails" method="POST">
                    <div class="form-group">
                        <select class="form-control" name="worker_id">
                            <% for(var i=0; i < worker.length; i++) { %>
                            <option value="<%= worker[i].worker_id%>">
                                <%= worker[i].name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">

                        <input type="submit" value="Delete Worker" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>